<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="3b619169-eb37-43d0-9049-a7a7e4a6a885" created="3.45.0" activeEnvironment="Prod Policy Service (15)" name="ADB-Service-Call-Tests" projectVersion="" compositeProjectFormat="1.3" updated="3.45.0" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Settings File Password" value=""/>
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="Product"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="&lt;all>"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="TestRunner Path" value="C:\Users\jmurphy\AppData\Local\Programs\SmartBear\ReadyAPI-3.45.0\bin"/>
  <con:entry key="Environment" value="No Environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="3b619169-eb37-43d0-9049-a7a7e4a6a885fileName">ADB-Service-Call-Tests-readyapi-project</con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerUIAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Settings File Password" value=""/>
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="true"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="User"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Test Case" value="User_Test"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="TestRunner Path" value="C:\Users\jmurphy\AppData\Local\Programs\SmartBear\ReadyAPI-3.45.0\bin"/>
  <con:entry key="Environment" value="No Environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="true"/>
</xml-fragment>]]></con:setting>
  </con:settings>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to ReadyAPI functional tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new java.io.FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new java.io.PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="fd2cd29b-292c-4e17-b64c-20aba1ecedbb" name="QUA ADB" index="16">
    <con:service type="REST" name="ADB API Service (ODATA)">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://quaadbrestapi.oldrepublictitle.com</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d1753e97-71e2-45e3-bf16-10a3239973ae" name="Dev ADB" index="50">
    <con:service type="REST" name="ADB API Service (ODATA)">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://devadbrestapi.oldrepublictitle.com</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="39b9cd34-67f9-4620-86ca-636a8386cbec" name="Prod ADB" index="33">
    <con:service type="REST" name="ADB API Service (ODATA)">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://adbrestapi.oldrepublictitle.com</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0b9f3e20-4b1a-43d5-a7e4-bef63f360cf5" name="QUA Corp" index="12">
    <con:service type="REST" name="ADB API Service (ODATA)">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://quaornticcorpdataapi.oldrepublictitle.com</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="416f01e6-0826-4108-a75c-d49ce478f75b" name="Dev Corp" index="46">
    <con:service type="REST" name="ADB API Service (ODATA)">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://devornticcorpdataapi.oldrepublictitle.com</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="6b31cce1-d611-4c22-8c5c-64363a4440ab" name="Prod Corp" index="29">
    <con:service type="REST" name="ADB API Service (ODATA)">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://ornticcorpdataapi.oldrepublictitle.com</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a9e5ff83-f16b-43a7-b119-a305e40a12d0" name="QUA User Service (15)" index="2">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb15.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d001c550-370a-4ff3-b50b-0cbb7ada13f5" name="Dev User Service (15)" index="36">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb15.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="8c30a968-1e67-49d0-80b6-976c109a6db1" name="Prod User Service (15)" index="19">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb15.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="feddf23e-7ed1-4d23-afbf-5e83b1f9f71d" name="QUA User Service (16)" index="1">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb16.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="073b0c94-c1b5-4543-8000-338a898a9def" name="Dev User Service (16)" index="35">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb16.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="01cea897-22af-44a3-8ac7-196e99af8159" name="Prod User Service (16)" index="18">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb16.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d9765a7e-f9cc-46de-9e86-cb11b9e9df4d" name="QUA User Service (17)" index="0">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb17.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="7e658256-54e9-4d62-82d1-e1a36196d84a" name="Dev User Service (17)" index="34">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb17.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fb4db91b-3987-45a9-bc28-c2b01b77f659" name="Prod User Service (17)" index="17">
    <con:service type="REST" name="User Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb17.oldrepublictitle.com:8179</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="6bd726a5-4df9-4aa6-9141-2f9cda339b9b" name="QUA AgLookup Service (15)" index="15">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-qua-haweb15.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="384e4af3-cc24-42b0-b2d1-25be2577fb79" name="Dev AgLookup Service (15)" index="49">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-dev-haweb15.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="5735edb3-eb60-4743-9a98-34461584a3f1" name="Prod AgLookup Service (15)" index="32">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-msp-haweb15.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="6986d87f-fafc-4f95-b815-51030c549172" name="QUA AgLookup Service (16)" index="14">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-qua-haweb16.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="be6439ad-3393-425d-85be-2cdae3b1b471" name="Dev AgLookup Service (16)" index="48">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-dev-haweb16.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="6005ead6-39c0-4df7-a938-a646055a5fb3" name="Prod AgLookup Service (16)" index="31">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-msp-haweb16.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="64d866f8-047a-4d38-ad36-27325f839815" name="QUA AgLookup Service (17)" index="13">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-qua-haweb17.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a51a3400-507b-414a-ad6d-bd45642c06a3" name="Dev AgLookup Service (17)" index="47">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-dev-haweb17.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d68fafc9-cf22-49c1-8528-9d6ed500cc19" name="Prod AgLookup Service (17)" index="30">
    <con:service type="REST" name="AgencyLookUp Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://mn-msp-haweb17.oldrepublictitle.com:8177</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d050c1cf-c198-45f4-ad45-3862eb887a02" name="QUA POL Service (15)" index="8">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb15.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="91b60a06-d4ea-4217-a252-5d8e55d2e3b4" name="QUA POL Service (16)" index="7">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb16.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a535cfce-3ffa-4561-89ad-0b6be43b7db3" name="QUA POL Service (17)" index="6">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb17.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="40acd7eb-73d0-44ce-ba42-01298f067f7b" name="Dev POL Service (15)" index="42">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb15.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="3002c589-a346-420a-93ec-add0d7974d9c" name="Dev POL Service (16)" index="41">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb16.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="6c4d65d0-ade2-42c5-8d4d-5fcfd0f5d5f6" name="Dev POLService (17)" index="37">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb17.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="b35beb76-ceb0-4bb7-a820-2590dff62892" name="Prod POL Service (15)" index="25">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb15.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="d4c41a9c-bd76-4389-bff4-d6bccbcb945e" name="Prod POL Service (16)" index="24">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb16.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f84e4022-c265-4da5-813a-f82a5fa5b900" name="Prod POL Service (17)" index="23">
    <con:service type="REST" name="Policy OverLimit Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb17.oldrepublictitle.com:9097</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="4e081ab1-d267-4988-a44c-c50cea14b61e" name="QUA Policy Service (15)" index="5">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb15.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="ace7b7db-eb0c-41ee-90d4-2722fd10bf91" name="QUA Policy Service (16)" index="4">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb16.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="e29c23d0-5468-4009-b0a0-ecb12b830f38" name="QUA Policy Service (17)" index="3">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb17.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="700e8642-3b9e-405f-835d-2cfb64316459" name="Dev Policy Service (15)" index="40">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb15.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f44247f2-f704-4677-b330-2ec337b6e27f" name="Dev Policy Service (16)" index="39">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb16.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0cc0f8bc-bb14-428c-bf73-16feabb722d1" name="Dev Policy Service (17)" index="38">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb17.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f0298959-4f1b-4f05-ac52-32c3db8fcf1a" name="Prod Policy Service (15)" index="22">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb15.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="e0a482c2-1118-419b-8c51-b48bbedbf8e3" name="Prod Policy Service (16)" index="21">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb16.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="849e5d66-d5a5-4a70-b988-5688ca599541" name="Prod Policy Service (17)" index="20">
    <con:service type="REST" name="Policy Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-msp-haweb17.oldrepublictitle.com:9095</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fcfae6e2-7f45-4acd-aa43-e89e6c07e88c" name="QUA Mobile Service (15)" index="11">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb15.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="c71b440d-5965-4751-8c7b-8ed8e0a9debc" name="QUA Mobile Service (16)" index="10">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb16.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="01d715ab-31a1-4f8b-94d1-e6756c5fa1fb" name="QUA Mobile Service (17)" index="9">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-qua-haweb17.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="a1862c8a-8fbf-480a-97bd-a0dadb8ce867" name="Dev Mobile Service (15)" index="45">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb15.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="b9a429f0-139c-455b-91bc-50b995f0f3e1" name="Dev Mobile Service (16)" index="44">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb16.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="50e84a43-c218-4346-9a29-d442369cbde4" name="Dev Mobile Service (17)" index="43">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-dev-haweb17.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="f60abdcc-733e-4a94-8ed8-ba99de758406" name="Prod Mobile Service (15)" index="28">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-prod-haweb15.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="db574a40-44cd-4d98-a1c4-16fa4aa5ea67" name="Prod Mobile Service (16)" index="27">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-prod-haweb16.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="dd811698-9f1e-4a0f-a8ca-73cf75743d35" name="Prod Mobile Service (17)" index="26">
    <con:service type="REST" name="Mobile Service">
      <con:endpoint authProfile="Basic" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://mn-prod-haweb16.oldrepublictitle.com:9090</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="fd2cd29b-292c-4e17-b64c-20aba1ecedbb">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d1753e97-71e2-45e3-bf16-10a3239973ae">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="39b9cd34-67f9-4620-86ca-636a8386cbec">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="0b9f3e20-4b1a-43d5-a7e4-bef63f360cf5">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="416f01e6-0826-4108-a75c-d49ce478f75b">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="6b31cce1-d611-4c22-8c5c-64363a4440ab">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="a9e5ff83-f16b-43a7-b119-a305e40a12d0">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d001c550-370a-4ff3-b50b-0cbb7ada13f5">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="8c30a968-1e67-49d0-80b6-976c109a6db1">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="feddf23e-7ed1-4d23-afbf-5e83b1f9f71d">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="073b0c94-c1b5-4543-8000-338a898a9def">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="01cea897-22af-44a3-8ac7-196e99af8159">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d9765a7e-f9cc-46de-9e86-cb11b9e9df4d">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="7e658256-54e9-4d62-82d1-e1a36196d84a">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="fb4db91b-3987-45a9-bc28-c2b01b77f659">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="6bd726a5-4df9-4aa6-9141-2f9cda339b9b">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="384e4af3-cc24-42b0-b2d1-25be2577fb79">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="5735edb3-eb60-4743-9a98-34461584a3f1">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="6986d87f-fafc-4f95-b815-51030c549172">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="be6439ad-3393-425d-85be-2cdae3b1b471">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="6005ead6-39c0-4df7-a938-a646055a5fb3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="64d866f8-047a-4d38-ad36-27325f839815">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="a51a3400-507b-414a-ad6d-bd45642c06a3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d68fafc9-cf22-49c1-8528-9d6ed500cc19">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d050c1cf-c198-45f4-ad45-3862eb887a02">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="91b60a06-d4ea-4217-a252-5d8e55d2e3b4">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="a535cfce-3ffa-4561-89ad-0b6be43b7db3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="40acd7eb-73d0-44ce-ba42-01298f067f7b">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="3002c589-a346-420a-93ec-add0d7974d9c">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="6c4d65d0-ade2-42c5-8d4d-5fcfd0f5d5f6">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="b35beb76-ceb0-4bb7-a820-2590dff62892">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="d4c41a9c-bd76-4389-bff4-d6bccbcb945e">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="f84e4022-c265-4da5-813a-f82a5fa5b900">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="4e081ab1-d267-4988-a44c-c50cea14b61e">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="ace7b7db-eb0c-41ee-90d4-2722fd10bf91">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e29c23d0-5468-4009-b0a0-ecb12b830f38">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="700e8642-3b9e-405f-835d-2cfb64316459">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="f44247f2-f704-4677-b330-2ec337b6e27f">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="0cc0f8bc-bb14-428c-bf73-16feabb722d1">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="f0298959-4f1b-4f05-ac52-32c3db8fcf1a">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="e0a482c2-1118-419b-8c51-b48bbedbf8e3">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="849e5d66-d5a5-4a70-b988-5688ca599541">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="fcfae6e2-7f45-4acd-aa43-e89e6c07e88c">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="c71b440d-5965-4751-8c7b-8ed8e0a9debc">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="01d715ab-31a1-4f8b-94d1-e6756c5fa1fb">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="a1862c8a-8fbf-480a-97bd-a0dadb8ce867">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="b9a429f0-139c-455b-91bc-50b995f0f3e1">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="50e84a43-c218-4346-9a29-d442369cbde4">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="f60abdcc-733e-4a94-8ed8-ba99de758406">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="db574a40-44cd-4d98-a1c4-16fa4aa5ea67">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="dd811698-9f1e-4a0f-a8ca-73cf75743d35">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags>
    <con:tag>
      <con:id>593d0672-ba86-4fde-bd3f-b4a5f0a10949</con:id>
      <con:name>ODATA</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
