<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d17b683c-ed27-461d-96e9-84743b4177f9" name="Mobile" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d17b683c-ed27-461d-96e9-84743b4177f9fileName">Mobile</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="a0bbae49-022a-4432-a0f7-fbe0a0dfb405">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="91985573-3c7a-4063-bc2c-0c2f89d891e5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="607f5d47-d2a7-4a1b-ab4a-d937049a1407">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ac507401-eff7-4a98-808d-ad46d99bf22e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0a1db645-1d20-4a2c-885a-6fc3f04c10e3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bdf92b0b-3c2f-4766-afe7-a4b3145727ac">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b6de6a4e-6e95-434a-b59f-add26213977e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="06283f68-3f31-49fe-b78d-c0e323fa015a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="9fb8bef7-8b14-452f-8270-86d184a79849">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
