<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a0fede41-be3d-443d-91b9-04ac8a4c1ba6" name="Commission Service" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="a0fede41-be3d-443d-91b9-04ac8a4c1ba6fileName">Commission-Service</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Commission Service.json">
    <con:part>
      <con:url>Commission Service.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Commission Service","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/Commissionws.svc":{"get":{"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
