<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="84bb0eba-3281-4caf-90d8-74f8391ea7f2" name="Mobile Service" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="84bb0eba-3281-4caf-90d8-74f8391ea7f2fileName">Mobile-Service</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Mobile Service.json">
    <con:part>
      <con:url>Mobile Service.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Mobile Service","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/mobile/login":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="fcfae6e2-7f45-4acd-aa43-e89e6c07e88c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c71b440d-5965-4751-8c7b-8ed8e0a9debc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="01d715ab-31a1-4f8b-94d1-e6756c5fa1fb">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="a1862c8a-8fbf-480a-97bd-a0dadb8ce867">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b9a429f0-139c-455b-91bc-50b995f0f3e1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="50e84a43-c218-4346-9a29-d442369cbde4">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="f60abdcc-733e-4a94-8ed8-ba99de758406">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="db574a40-44cd-4d98-a1c4-16fa4aa5ea67">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="dd811698-9f1e-4a0f-a8ca-73cf75743d35">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
