<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2beab5da-4c9f-4cfb-a2d7-3a4dcb8aca7f" name="Municipality" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2beab5da-4c9f-4cfb-a2d7-3a4dcb8aca7ffileName">Municipality</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d1753e97-71e2-45e3-bf16-10a3239973ae">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="39b9cd34-67f9-4620-86ca-636a8386cbec">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0b9f3e20-4b1a-43d5-a7e4-bef63f360cf5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="416f01e6-0826-4108-a75c-d49ce478f75b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="6b31cce1-d611-4c22-8c5c-64363a4440ab">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="d9765a7e-f9cc-46de-9e86-cb11b9e9df4d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="a0bbae49-022a-4432-a0f7-fbe0a0dfb405">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="91985573-3c7a-4063-bc2c-0c2f89d891e5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="607f5d47-d2a7-4a1b-ab4a-d937049a1407">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ac507401-eff7-4a98-808d-ad46d99bf22e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0a1db645-1d20-4a2c-885a-6fc3f04c10e3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bdf92b0b-3c2f-4766-afe7-a4b3145727ac">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b6de6a4e-6e95-434a-b59f-add26213977e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="06283f68-3f31-49fe-b78d-c0e323fa015a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="9fb8bef7-8b14-452f-8270-86d184a79849">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>593d0672-ba86-4fde-bd3f-b4a5f0a10949</con:tagId>
</con:testSuite>
