<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="affdf895-9475-4e50-87b0-5dc40c87be9d" name="Policy Service" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="affdf895-9475-4e50-87b0-5dc40c87be9dfileName">Policy-Service</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="Policy Service.json">
    <con:part>
      <con:url>Policy Service.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"Policy Service","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/PolicyService.svc":{"description":"","get":{"description":"","responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
